<ion-modal-view class="modal-background login-modal">
  <!-- <ion-header-bar class="bar-dark">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar> -->
  <ion-content ng-class="{'modal-settings': !isPhone}" class="white-bg">
    <!-- <form> -->
      <div class="login-logo-container">
        <img class="login-logo-img" src="img/steadyTracker.png">
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" class="" ng-model="loginData.username" placeholder="user@domain.com">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" class="" ng-model="loginData.password">
        </label>
          <button class="button button-block button-dark" ng-click="doLogin()" type="button">Sign in</button>
          <button class="button button-block button-assertive" ng-click="doSignup()" type="button">Sign up</button>
      </div>
    <!-- </form> -->
  </ion-content>
</ion-modal-view>
