<div class="modal modal-background">
  <ion-header-bar ng-show="isPhone" class="bar-dark">
  <h1 class="title">Settings</h1>
  </ion-header-bar>
  <ion-content ng-class="{'modal-settings': !isPhone}" class="background">
    <div class="list info">
      <div class="item item-divider info center-item">
        Set Speed
      </div>
      <div class="range range-assertive">
        <span class="tablet-size-indicator">{{settings.speed}}</span>
        <input type="range" name="volume" min="1" max="100" ng-model="settings.speed">
      </div>

      <div class="item item-divider info center-item">
        Set Limit
      </div>
      <div class="row">
        <div class="col">
          <label ng-show="!isDeviceSlider" class="item item-input">
            <span class="input-label info">Pan Start</span>
            <input type="number" min="0" class="info" ng-model="settings.panStart">
          </label>
          <label ng-show="!isDeviceSlider" class="item item-input">
            <span class="input-label info">Tilt Start</span>
            <input type="number" min="0" class="info" ng-model="settings.tiltStart">
          </label>
          <label class="item item-input">
            <span class="input-label info">Slider Start</span>
            <input type="number" min="0" class="info" ng-model="settings.slideStart">
          </label>
        </div>
        <div class="col">
          <label ng-show="!isDeviceSlider" class="item item-input">
            <span class="input-label info" class="info">Pan End</span>
            <input type="number" min="0" class="info" ng-model="settings.panEnd">
          </label>
          <label ng-show="!isDeviceSlider" class="item item-input">
            <span class="input-label info">Tilt End</span>
            <input type="number" min="0" class="info" ng-model="settings.tiltEnd">
          </label>
          <label class="item item-input">
            <span class="input-label info">Slider End</span>
            <input type="number" min="0" class="info" ng-model="settings.slideEnd">
          </label>
        </div>
      </div>




      <div class="item item-divider info center-item">
        Set Home
      </div>

      <label ng-show="!isDeviceSlider" class="item item-input">
        <span class="input-label info" class="info">Pan</span>
        <input type="number" min="0" class="info" ng-model="settings.panHome">
      </label>
      <label ng-show="!isDeviceSlider" class="item item-input">
        <span class="input-label info">Tilt</span>
        <input type="number" min="0" class="info" ng-model="settings.tiltHome">
      </label>
      <label class="item item-input">
        <span class="input-label info">Slider</span>
        <input type="number" min="0" class="info" ng-model="settings.slideHome">
      </label>

      <div class="item item-divider info center-item">
        Set Slave Mode
      </div>

      <li class="item item-toggle info">
        <span class="tablet-size-indicator">Slave</span>
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="settings.slaveMode">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <div class="item item-divider info center-item">
        Configuration
      </div>

      <label class="item item-input item-select">
        <div class="input-label info">
          Option
        </div>
        <select ng-model="settings.masterBoss">
          <option value="pan-tilt">Pan/Tilt</option>
          <option value="slider">Slider</option>
          <option value="both">Both</option>
        </select>
      </label>

      <div ng-show="settings.masterBoss == 'pan-tilt'" class="item item-divider balanced">
        Connect bluetooth to Pan/Tilt
      </div>
      <div ng-show="settings.masterBoss == 'slider'" class="item item-divider balanced">
        Connect bluetooth to Slider
      </div>
      <div ng-show="settings.masterBoss == 'both'" class="item item-divider balanced">
        Connect bluetooth to Pan/Tilt
      </div>


      <div class="item item-divider info center-item">
        Acceleration Offset
      </div>
      <div class="range range-assertive">
        <span class="tablet-size-indicator">{{ settings.accelerationOffset | number: 1 }}</span>
        <input type="range" min="100" max="400" step="1" ng-model="settings.accelerationOffset" id="saccelerationOffset">
      </div>

      <div class="item item-divider info center-item">
        Distance
      </div>
      <div class="range range-assertive">
        <span class="tablet-size-indicator">{{ settings.distance }}</span>
        <input type="range" name="volume" min="1" max="20" ng-model="settings.distance">
      </div>

    </div>


    <div class="row">
      <div class="col">
        <button class="button button-block button-assertive" ng-click="closeModal()">Cancel</button>
      </div>
      <div class="col">
        <button class="button button-block button-balanced" ng-click="saveModal()">Save</button>
      </div>
    </div>


  </ion-content>
</div>
