<div class="modal-background modal">

  <ion-header-bar ng-show="isPhone" class="bar-dark">
  <h1 class="title">Add Move</h1>
  </ion-header-bar>

  <ion-content ng-class="{'modal-settings': !isPhone}" class="background">
    <div class="list info">

      <label class="item item-input">
        <span class="input-label info" class="info">Name</span>
        <input type="text" class="info" ng-model="move.name">
      </label>

      <div class="item item-divider info center-item">
        Set Offset
      </div>
      <div class="range range-assertive">
        <span class="tablet-size-indicator">{{move.offset}}</span>
        <input type="range" name="volume" min="0" max="999" ng-model="move.offset">
      </div>

      <div class="item item-divider info center-item">
        Set Timing
      </div>

      <label class="item item-input">
        <span class="input-label info" class="info">Duration</span>
        <input type="number" min="0" class="info" ng-model="move.duration">
      </label>
      <label class="item item-input">
        <span class="input-label info">Delay</span>
        <input type="number" min="0" class="info" ng-model="move.delay">
      </label>


      <div class="item item-divider info center-item">
        Set Position
      </div>

      <label class="item item-input">
        <span class="input-label info" class="info">Pan</span>
        <input type="number" min="-999" class="info" ng-model="move.pan">
      </label>
      <label class="item item-input">
        <span class="input-label info">Tilt</span>
        <input type="number" min="-999" class="info" ng-model="move.tilt">
      </label>
      <label class="item item-input">
        <span class="input-label info">Slider</span>
        <input type="number" min="-999" class="info" ng-model="move.slider">
      </label>


    </div>

    <div class="row">
      <div class="col">
        <button ng-disabled="!isBluetoothConnected" class="button button-block button-royal" ng-click="testMove(move)">Test Current Move</button>
      </div>


    </div>

    <div ng-hide="isBluetoothConnected"class="row">
      <div class="col">
        <span class="info">No Bluetooth Device connected</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-assertive" ng-click="closeModal()">Cancel</button>
      </div>
      <div class="col">
        <button class="button button-block button-balanced" ng-click="saveMove(move.id)">Save</button>
      </div>
    </div>


  </ion-content>
</div>
