<ion-view view-title="Move Manager">
  <ion-content>
    <div class="item item-divider info center-item">
        <span class="assertive">Time Line - </span>{{totalTimeHeader}}
    </div>

    <ion-list>
      <!-- <button ng-style="{ 'width' : (((item.delay + item.duration)/totalTime)*10) + '%' }" class="button button-small button-outline button-balanced" ng-repeat="item in keyFrames.keyFrames" ng-click="openModal(item)">
        {{item.name}} : {{item.delay}} : {{item.duration}}
      </button> -->
      <button class="button button-small button-block button-outline button-balanced" ng-repeat="item in keyFrames.keyFrames" ng-click="openModal(item)">
        {{item.name}} : {{item.delay}} : {{item.duration}}
      </button>
    </ion-list>

    <br>

    <br>
    <div class="item item-divider center-item">
      <span class="info">{{bluetoothRx}}</span>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-assertive" ng-click="openModal()">
          <i class="icon ion-plus"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive" ng-click="openModal()">
          <i class="icon ion-stop"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive" ng-click="executeStack()">
          <i class="icon ion-play"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive" ng-click="newStack()">
          New
        </button>
      </div>
    </div>
    <div class="row">


      <div class="col">
        <button class="button button-block button-assertive" ng-click="showPopup()">
          Save
        </button>
      </div>

      <div class="col">
        <button class="button button-block button-assertive" ng-click="saveAsStack()">
          Save As
        </button>
      </div>

      <div class="col">
        <a class="button button-block button-assertive" href="#/app/load-moves">
          Stack List
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>
