<ion-view view-title="Real Time">
  <ion-content class="center-item" scroll="false">
    <div class="header-section">
      <div class="row button-header">
        <div class="col col-25">
          <button ng-disabled="!isBluetoothConnected" ng-class="{'button-small': isPhone}" class="button button-outline button-block button-assertive" ng-click="goHome()">
            <span class="info">Home</span>
          </button>
        </div>

        <div class="col col-25">
          <button ng-class="{'button-small': isPhone}" class="button  button-outline button-block button-assertive" ng-click="openBTSettings()">
            <i ng-show="isPhone" class="icon ion-bluetooth info"></i><span ng-hide="isPhone">Bluetooth: </span><span ng-show="isBluetoothConnected" class="balanced"> On</span> <span ng-show="!isBluetoothConnected" class="stable"> Off</span>
          </button>
        </div>

        <div class="col col-25">
          <button ng-disabled="!isBluetoothConnected" ng-class="{'button-small': isPhone}" class="button button-outline button-block button-assertive" ng-click="openModal()">
            <i class="icon ion-gear-a info"></i>
          </button>
        </div>
        <div class="col col-25">
          <button ng-disabled="!isBluetoothConnected" ng-class="{'button-small': isPhone}" class="button button-outline button-block button-assertive" ng-click="addKeyFrame()">
            <i class="icon ion-film-marker info"> </i>
            <span ng-hide="isPhone" class="info"> KeyFrame+</span>
          </button>
        </div>
      </div>

      <div class="row button-header">

        <div class="col">
          <button ng-disabled="!isBluetoothConnected" ng-class="{'button-small': isPhone}" class="button button-outline button-block button-assertive" ng-click="showSliderJoystick()">
            <span class="info">Slider</span>
          </button>
        </div>

        <div class="col">
          <button ng-disabled="isDeviceSlider || !isBluetoothConnected" ng-class="{'button-small': isPhone}" class="button button-outline button-block button-assertive" ng-click="showPanTiltJoystick()">
            <span class="info">Pan/Tilt</span>
          </button>
        </div>

        <div class="col">
          <button ng-disabled="!isBluetoothConnected" ng-hide="isLoop" ng-class="{'button-small': isPhone}" class="button button-block button-assertive" ng-click="enableLoop()">
            <i class="icon ion-ios-loop-strong"> Loop Off</i>
          </button>
          <button ng-disabled="!isBluetoothConnected" ng-show="isLoop" ng-class="{'button-small': isPhone}" class="button button-block button-balanced" ng-click="disableLoop()">
            <i class="icon ion-ios-loop-strong"> Loop On</i>
          </button>

        </div>

        <div class="col">
          <button ng-disabled="!isBluetoothConnected" ng-class="{'button-small': isPhone}" class="button button-outline button-block button-assertive" ng-click="updateAllPosition()">
            <span class="info">Update</span>
          </button>
        </div>
      </div>
    </div>

    <div ng-show="!isBluetoothConnected" ng-class="{'pan-tilt-tablet': !isPhone}">
      <div ng-class="{'font-indicator': !isPhone}">
        <span class="info">No Slider Device Connected</span>
      </div>
    </div>

    <div ng-show="isBluetoothConnected" ng-class="{'slider-tablet': !isPhone}">
      <div ng-class="{'font-indicator': !isPhone}">
        <span class="info">Current Position: <span>{{bluetoothRx}}</span></span>
        <br ng-hide="isPhone">
        <br ng-hide="isPhone">
        <span class="info">Slider: {{sliderPosition.slider}}</span>


        <!-- <span class="info">BT: {{bluetoothAvailable}}</span> -->
      </div>

      <div ng-show="isSliderJoystick" class="slider-joystick">
        <joystick on-done="done(value)" position="sliderJoystickValue" devType="slider" offset="12" on-touch="sliderOnStart()" on-release="sliderOnEnd()"></joystick>
      </div>

      <div ng-show="!isSliderJoystick" class="slider-joystick">
        <div class="range range-assertive">
          <i class="icon ion-ios-arrow-left info"></i>
          <input type="range" name="volume" min="-495" max="495" value="125" ng-model="sliderPosition.slider">
          <i class="icon ion-ios-arrow-right info"></i>
        </div>

        <div class="row">
          <div class="col">
            <button class="button button-outline button-block button-assertive" ng-click="fastDecSlider()">
              <i class="icon ion-ios-arrow-back info"></i><i class="icon ion-ios-arrow-back info"></i>
            </button>
          </div>
          <div class="col">
            <button class="button button-outline button-block button-balanced" ng-click="decSlider()">
              <i class="icon ion-ios-arrow-back info"></i>
            </button>
          </div>
          <div class="col">
            <button class="button button-block button-assertive" ng-click="centerSlider()">
              0
            </button>
          </div>
          <div class="col">
            <button class="button button-outline button-block button-balanced" ng-click="incSlider()">
              <i class="icon ion-ios-arrow-forward info"></i>
            </button>
          </div>
          <div class="col">
            <button class="button button-outline button-block button-assertive" ng-click="fastIncSlider()">
              <i class="icon ion-ios-arrow-forward info"></i><i class="icon ion-ios-arrow-forward info"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
    <div ng-show="isDeviceSlider || !isBluetoothConnected" ng-class="{'pan-tilt-tablet': !isPhone}">
      <div ng-class="{'font-indicator': !isPhone}">
        <span class="info">No Pan/Tilt Device Connected</span>
      </div>
    </div>
    <div ng-hide="isDeviceSlider || !isBluetoothConnected" ng-class="{'pan-tilt-tablet': !isPhone}">
      <div ng-class="{'font-indicator': !isPhone}">

        <span class="info">Pan: {{pos.x >= 0.5 ? ((pos.x * 360)-360) : (pos.x * 360) | number: 1}}°</span>
        <span class="info">Tilt: {{pos.y >= 0.5 ? ((pos.y * 360)-360) : (pos.y * 360) | number: 1}}°</span>
      </div>
      <div>
      </div>
      <div ng-show="isPanTiltJoystick">
        <joystick on-done="done(value)" position="panTiltJoystickValue" devType="pan-tilt" offset="pan-tilt" on-touch="panTiltOnStart()" on-release="panTiltOnEnd()"></joystick>
      </div>

      <div class="row">
        <div class="col">
          <div ng-show="!isPanTiltJoystick">
            <progress-arc
                size="{{ size }}"
                stroke="{{ stroke }}"
                stroke-width="{{ strokeWidth }}"
                complete="pos.x"
                background="{{ background }}"
                counter-clockwise="{{ counterClockwise }}"></progress-arc>
            <div class="control">
                <div class="range range-assertive">
                  <input type="range" min="0" max="1" step="0.01" ng-model="pos.x" id="pos.x">
                </div>
                <!-- <span class="info">{{ pos.x * 360 | number: 2 }}°</span> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div ng-show="!isPanTiltJoystick">
            <progress-arc
                size="{{ size }}"
                stroke="{{ stroke }}"
                stroke-width="{{ strokeWidth }}"
                complete="pos.y"
                background="{{ background }}"
                counter-clockwise="{{ counterClockwise }}"></progress-arc>
            <div class="control">
              <div class="range range-assertive">
                <input type="range" name="volume" min="0" max="1" step="0.01" ng-model="pos.y" id="pos.y">
              </div>
              <!-- <span class="info">{{ pos.y * 360 | number: 1 }}°</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>



  </ion-content>
</ion-view>
