<ion-view view-title="Bluetooth Setup">
  <ion-content>

    <div class="title-bar">
      <h4 class="info"> Status: {{blStatus}}</h4>
    </div>
    <div class="list">

      <div class="item item-button-right info">
        <b><i class="icon ion-bluetooth"></i></b>
        HC-05 Arduino
        <button class="button button-assertive">
          <i class="icon ion-ios-gear"></i>
        </button>
      </div>


    </div>
    <div class="title-bar">
      <h4 class="info">Available Devices:</h4>
    </div>
    <div class="list">

      <ion-item ng-repeat="device in btDevices"
                class="item item-button-right info">
          <b><i class="icon ion-bluetooth"></i></b>
          {{device.name}}
          <button class="button button-assertive" ng-click="connectBT(device.id)">
            <i class="icon ion-link"></i>
          </button>
      </ion-item>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-assertive" ng-click="listBT()">
          <i class="icon ion-loop"></i>
          Discover
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-balanced">
          <i class="icon ion-checkmark"></i>
          Save

        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
