<ion-view view-title="Bluetooth Setup">
  <ion-content>
    <div class="title-bar">
      <h4 class="info"> Paired Device:</h4>
    </div>
    <div class="list">

      <div class="item item-button-right info">
        <b><i class="icon ion-bluetooth"></i></b>
        HC-05 Arduino
        <button class="button button-assertive">
          <i class="icon ion-ios-gear"></i>
        </button>
      </div>


    </div>
    <div class="title-bar">
      <h4 class="info">Available Devices:</h4>
    </div>
    <div class="list">
      <div class="item item-button-right info">
        <b><i class="icon ion-headphone"></i></b>
        YET-M1 Audio BT
        <button class="button button-assertive">
          <i class="icon ion-link"></i>
        </button>
      </div>

      <div class="item item-button-right info">
        <b><i class="icon ion-monitor"></i></b>
        Vince's MacBook Pro
        <button class="button button-assertive">
          <i class="icon ion-link"></i>
        </button>
      </div>

      <div class="item item-button-right info">
        <b><i class="icon ion-bluetooth"></i></b>
        74:3A:55:23
        <button class="button button-assertive">
          <i class="icon ion-link"></i>
        </button>
      </div>

      <div class="item item-button-right info">
        <b><i class="icon ion-bluetooth"></i></b>
        SteadyTracker BT
        <button class="button button-assertive">
          <i class="icon ion-link"></i>
        </button>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-assertive">
          <i class="icon ion-loop"></i>
          Discover
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-balanced">
          <i class="icon ion-checkmark"></i>
          Save

        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
