<ion-view view-title="Bluetooth Setup">
  <ion-content>

    <div class="title-bar">
      <h4 class="info"> Status: {{blStatus}}</h4>
    </div>
    <!-- <div class="list">

      <a class="item" href="#">
        <span class="info">Pan/Tilt</span>
        <span class="info item-note">
          ProLinkPT15605
        </span>
      </a>

      <a class="item" href="#">
        <span class="info">Slider</span>
        <span class="info item-note">
          ProLinkSL153577
        </span>
      </a>


    </div> -->
    <div ng-show="btDevices.length" class="title-bar">
      <h4 class="info">Choose Device</h4>
    </div>
    <div ng-hide="btDevices.length" class="title-bar">
      <h4 class="info">Press "Discover" Button to List Available Devices</h4>
    </div>
    <div class="list">
      <ion-item ng-repeat="device in btDevices"
                class="item item-button-right info">
          <b><i class="icon ion-bluetooth"></i></b>
          {{device.name}}
          <button ng-hide="bluetoothName === device.name" class="button button-assertive" ng-click="connectBT(device.id, device.name)">
            Connect
          </button>
          <button ng-show="bluetoothName === device.name" class="button button-balanced">
            Connected
          </button>
          <!-- <button ng-show="bluetoothName === device.name" class="button button-energized">
            Connecting
          </button> -->
      </ion-item>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-assertive" ng-click="listBT()">
          <i class="icon ion-loop"></i>
          Discover
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-balanced">
          <i class="icon ion-checkmark"></i>
          Save

        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
