<ion-view view-title="Time Lapse">
  <ion-content>
    <div class="item item-divider info center-item">
        <span class="assertive">Time Line - </span>00:03:29
    </div>

    <div class="list info">
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <span class="input-label info">Pan Start</span>
            <input type="text" class="info">
          </label>
          <label class="item item-input">
            <span class="input-label info">Tilt Start</span>
            <input type="text" class="info">
          </label>
          <label class="item item-input">
            <span class="input-label info">Slide Start</span>
            <input type="text" class="info">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <span class="input-label info" class="info">Pan End</span>
            <input type="text" class="info">
          </label>
          <label class="item item-input">
            <span class="input-label info">Tilt End</span>
            <input type="text" class="info">
          </label>
          <label class="item item-input">
            <span class="input-label info">Slide End</span>
            <input type="text" class="info">
          </label>
        </div>
      </div>

      <div class="item item-divider info center-item">
        Set Home
      </div>

      <label class="item item-input">
        <span class="input-label info" class="info">Shots</span>
        <input type="text" class="info">
      </label>
      <label class="item item-input">
        <span class="input-label info">Shutter Delay</span>
        <input type="text" class="info">
      </label>
      <label class="item item-input">
        <span class="input-label info">Stabilize</span>
        <input type="text" class="info">
      </label>
      <label class="item item-input">
        <span class="input-label info">Duration</span>
        <input type="text" class="info">
      </label>

    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-assertive" ng-click="openModal()">
          <i class="icon ion-plus"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive" ng-click="openModal()">
          <i class="icon ion-trash-a"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive" ng-click="openModal()">
          <i class="icon ion-refresh"></i>
        </button>
      </div>

      <div class="col">
        <button class="button button-block button-assertive" ng-click="openModal()">
          <i class="icon ion-play"></i>
        </button>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-assertive" ng-click="openModal()">
          Start Time
        </button>
      </div>

      <div class="col">
        <button class="button button-block button-assertive" ng-click="openModal()">
          End Time
        </button>
      </div>

    </div>


  </ion-content>
</ion-view>
