<ion-view view-title="Time Lapse">
  <ion-content>
    <div class="item item-divider info center-item">
        Limits
    </div>

    <div class="list info">
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <span class="input-label info">Pan Start</span>
            <input type="number" min="-999" class="info" ng-model="panStart">
          </label>
          <label class="item item-input">
            <span class="input-label info">Tilt Start</span>
            <input type="number" min="-999" class="info" ng-model="tiltStart">
          </label>
          <label class="item item-input">
            <span class="input-label info">Slider Start</span>
            <input type="number" min="-999" class="info" ng-model="sliderStart">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <span class="input-label info" class="info">Pan End</span>
            <input type="number" min="-999" class="info" ng-model="panEnd">
          </label>
          <label class="item item-input">
            <span class="input-label info">Tilt End</span>
            <input type="number" min="-999" class="info" ng-model="tiltEnd">
          </label>
          <label class="item item-input">
            <span class="input-label info">Slider End</span>
            <input type="number" min="-999" class="info" ng-model="sliderEnd">
          </label>
        </div>
      </div>

      <div class="item item-divider info center-item">
        Options
      </div>

      <label class="item item-input item-button-right">
        <span class="input-label info" class="info">Shots Required</span>
        <input type="number" min="0" class="info" ng-model="shotsReq">
      </label>
      <label class="item item-input">
        <span class="input-label info">Shutter Delay (milliseconds)</span>
        <input type="number" min="0" class="info" ng-model="shutterDelay">
      </label>
      <label class="item item-input">
        <span class="input-label info">Stabilize (milliseconds)</span>
        <input type="number" min="0" class="info" ng-model="stabilizeDelay">
      </label>
      <label class="item item-input item-button-right">
        <span class="input-label info">Duration (seconds)</span>
        <input type="number" min="0" class="info" ng-model="duration">
      </label>

    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-assertive" ng-click="activate()">
          <i class="icon ion-refresh"></i>
        </button>
      </div>

      <div class="col">
        <button class="button button-block button-assertive" ng-click="execute()">
          <i class="icon ion-play"></i>
        </button>
      </div>
    </div>


  </ion-content>
</ion-view>
