/* Empty. Add your own CSS if you like */
.joystickCanvas{
  width		: 200px;
  height		: 200px;
  border-color: #39FF14;
  border-style: dotted;
  border-width: 3px;
  border-radius: 100px;
  overflow	: hidden;
  padding		: 0;
  margin		: 0;
  -webkit-user-select	: none;
  -moz-user-select	: none;
}


.button-custom{
  font-size: 4em !important;
  padding-bottom: 20px !important;
}

.test-indicator{
  width: 240px;
  height: 240px;
  border-color: #39FF14;
  border-style: dashed;
  border-width: 20px;
  border-radius: 120px;
  overflow: hidden;
  position: absolute;
  float: left;
  /* margin-left: 37%; */
  top: 74%;
  left: 35%;
  z-index: -1;
}
}

.time-line{
  height: 75px !important;
}

.time-line-indicator{
  position: absolute;
}
.black-bg{
  background-color: #1A1A1A !important;
}

.white-bg{
  background-color: white !important;
}
.background, .background .pane, .background .item {
    background-color: #1A1A1A;
}

.center-item{
  text-align: center;
}

.info{
  color:white !important;
}

.title-bar{
  text-align: center;
}

.pull-right{
  float: right;
}

.copyright-footer{
  padding-left: 10px;
  font-size: 10px;
}

.header-section{
  margin-bottom: 0px;
}


@media screen and (max-width: 480px) {
  .button-header{
    height: 50px !important;
  }
}

@media screen and (min-width: 480px) {
  .input-label {
    font-size: 1.5em;
  }
  .item-divider{
    font-size: 1.7em;
    font-weight: bold;
  }
  input[type="text"] {
    font-size: 1.2em;
  }
  .button {
    font-size: 1.5em;
  }
  .tablet-size-indicator {
    font-size: 1.5em;
  }
}


.slider-joystick{
  height: 205px
}

.big-font{
  font-size: 30px
}

circle {
    /*stroke: red;*/
    stroke-linecap: round;
}

.login-logo-container{
  height: 340px;
  padding-top: 0%;
  padding-left: 3%;
  padding-right: 3%;
}
.login-logo-img{
  width: 100%;
}
.login-modal{
  height: 55%;
}


/* Media Queries Stuff */
.slider-tablet{
  padding-top: 3%;
}

.font-indicator {
  font-size: 1.5em;
  padding-bottom: 5%;
}

.pan-tilt-tablet{
  padding-top: 15%;
}

.modal-settings {
  padding: 5% 5% 5% 5%;
  border: 10px solid #ef473a;
  border-radius: 20px;
}

.modal-background {
  background: transparent;
}
